head
	title Let's take the balls

body
	h1 Start a New Game
	hr
	+loginButtons
	+gameroom
	hr
	+inputfor

template(name="inputfor")
	.container
		.row
			.col-md-2
			.col-md-4
				input.numer(placeholder="number")
				input.btn.btn-success(value="click me", type="button")

template(name="gameroom")
	hr
	h2 Here is game room
	input.btn.btn-default(value="start", type="button")
	hr
	h2 balls: {{data.balls}}
	h2 player1: {{player1.name}}
	h2 player2: {{player2.name}}