head
    title Let's take the balls

template(name='layout')
    h6 Layout: to be filled
    hr
    +yield
    hr

template(name='index')
    h1 Start a New Game !
    +loginButtons
    br
    +dashboard

template(name='dashboard')
    h2  Game Name
    input.game-name
    each games
        +game

template(name='game')
    hr
    h4 {{createAt}} 
    h2 {{username}}  create a game : {{gamename}}
    hr
